h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  text-align: center;
}
